Repository Gabb-c/spotify-embed: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

.lintstagedrc:

{
  "src/**/*.{js,ts,tsx}": [
    "eslint src --ext js,ts --fix",
    "prettier 'src/**/*.[jt]s?(x)' --write",
    "git add ."
  ],
  "**/*.{md,mdx,json}": [
    "prettier '**/*.{md,mdx,json}' --write",
    "git add ."
  ],
  "./package.json": [
    "sort-package-json package.json",
    "git add ."
  ]
}

chore(deps-dev): update @swc/core
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

chore(deps): storybook addons
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

build(deps): update react and react-dom
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

chore(deps-dev): update node typings
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

build(deps): update typescript and rollup
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

build(deps): update @swc/core
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

chore(deps-dev): update dev dependencies
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

build(deps-dev): update dependencies
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

build(deps): update rollup and webpack
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

build(deps): update rollup and storybook deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

build(deps-dev): update typescript
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

test: update snapshots
  src/__tests__/__snapshots__/enums.spec.ts.snap
Due: none

chore(deps-dev): update dev deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

feat(deps): update dependencies
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

Notes added by 'git notes add'
  65f4c7157d827837af6d4fdeec3debefa0116d28
Due: none

chore(release): 1.5.0 [skip ci]
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

docs: add vercel.json
  package.json
  vercel.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

docs: add yarn to vercel.json
  vercel.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): update eslint deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

docs: update vercel config
  package.json
  vercel.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

chore(deps-dev): update jest and typescript
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

chore(deps-dev): update eslint and rollup deps
  package.json
  src/utils/enums.ts
  src/utils/parser.ts
  yarn.lock
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

docs: update storybook
  banner.js
  commitlint.config.cjs
  package.json
  rollup.config.js
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

chore: eslint ignore
  .eslintignore
Due: none

build: fix rollup and jest
  jest.config.cjs
  jest.setup.cjs
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

chore: add tsc
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

chore: vercel and publish workflow
  .github/workflows/publish.yml
  vercel.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore: publish workflow
  .github/workflows/publish.yml
Due: none

chore(release): 1.6.0 [skip ci]
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

Notes added by 'git notes add'
  0fbbb67e714aceff4b9d87e4feaba4bcf4457f34
Due: none

fix: package files location
  README.md
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

chore(release): 1.6.1 [skip ci]
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

Notes added by 'git notes add'
  f460f2d3ca3dd58fb823411f359ab6900ff8210d
Due: none

fix: add jsx loader
  tsup.config.ts
Due: none

chore(release): 1.6.2 [skip ci]
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json
