Repository Gabb-c/spotify-embed: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

.lintstagedrc:

{
  "src/**/*.{js,ts,tsx}": [
    "eslint src --ext js,ts --fix",
    "prettier 'src/**/*.[jt]s?(x)' --write",
    "git add ."
  ],
  "**/*.{md,mdx,json}": [
    "prettier '**/*.{md,mdx,json}' --write",
    "git add ."
  ],
  "./package.json": [
    "sort-package-json package.json",
    "git add ."
  ]
}

fix(components): better tsdocs
  package.json
  src/components/spotify-embed.tsx
  yarn.lock
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

chore: sync lockfile
  yarn.lock
Due: none

chore(vscode): remove unused ext
  .vscode/extensions.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

build: remove tests and stories folder from build
  jest.config.js
  tsconfig.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

docs(components): better comments
  src/components/spotify-embed.tsx
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

feat(storybook): add spotify-embed
  .storybook/main.js
  package.json
  src/stories/spotify-embed.stories.tsx
  yarn.lock
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

docs: remove unused stories and fix default props in storybook
  .storybook/main.js
  package.json
  src/components/spotify-embed.tsx
  src/stories/button.css
  src/stories/button.stories.tsx
  src/stories/button.tsx
  src/stories/header.css
  src/stories/header.stories.tsx
  src/stories/header.tsx
  src/stories/introduction.stories.mdx
  src/stories/page.css
  src/stories/page.stories.tsx
  src/stories/page.tsx
  src/stories/spotify-embed.stories.tsx
  yarn.lock
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

feat(components): add theme property
  src/__tests__/__snapshots__/enums.spec.ts.snap
  src/__tests__/enums.spec.ts
  src/__tests__/parsers.spec.ts
  src/components/spotify-embed.tsx
  src/stories/spotify-embed.stories.tsx
  src/utils/enums.ts
  src/utils/parser.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

chore(deps-dev): update eslint parser and plugin
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

docs: add basic example story
  .storybook/preview.js
  package.json
  src/stories/basic-example.stories.mdx
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

test(config): update jest config
  jest.config.js
Due: none

chore(deps-dev): update eslint plugin storybook
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

test: add snapshot tests to spotify-embed component
  src/__tests__/__snapshots__/spotify-embed.spec.tsx.snap
  src/__tests__/spotify-embed.spec.tsx
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

docs: add sizes docs
  .storybook/preview.js
  src/stories/sizes.stories.mdx
  src/stories/spotify-embed.stories.tsx
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write

docs: add themes docs
  src/stories/themes.stories.mdx
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): update babel presets
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

chore(deps-dev): update commitlint cli
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

docs(github): add contributing guides and templates to repo
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

docs: missing lang in code block
  .github/CONTRIBUTING.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): update babel preset env
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

docs: fix typo
  .github/CONTRIBUTING.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

docs(github): add code of conduct
  .github/CODE_OF_CONDUCT.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): update typescript
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

docs(github): readme
  README.md
  src/stories/introduction.stories.mdx
Due: git add ., prettier '**/*.{md,mdx,json}' --write

docs(github): update links from contributing guide
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(deps-dev): update rollup and sorybook addons
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

docs: update stories
  README.md
  src/stories/basic-example.stories.mdx
  src/stories/introduction.stories.mdx
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(npm): add keywords and homepage
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

ci(workflows): add semantic-release and publish config
  .github/workflows/publish.yml
  .releaserc
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

chore(deps-dev): update rollup
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

chore(github): add codeowners configuration
  .github/CODEOWNERS
Due: none

chore(deps-dev): add tslib to project
  .gitpod.yml
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

chore(deps-dev): update lint-staged eslint-jest
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

chore(github): add releaserc file language
  .gitattributes
Due: none

Update .gitattributes
  .gitattributes
Due: none

chore(deps-dev): update eslint typescript and rollup
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

chore(deps-dev): update lint -staged
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

chore(deps): move rollup to peer deps
  package.json
  rollup.config.js
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

build: finally jsx-runtime
  src/components/spotify-embed.tsx
  tsconfig.json
  yarn.lock
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write

fix(jest): replace babel-jest for ts-jest
  jest.config.js
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json
