Repository Gabb-c/spotify-embed: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

chore: change node version to lts gallium
  .nvmrc
Due: none

ci(workflow): update node versions
  .github/workflows/build-sb.yml
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  src/__tests__/spotify-embed.spec.tsx
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

ci(workflow): fix node versions
  .github/workflows/build.yml
Due: none

ci(workflow): test latest node verson syntax
  .github/workflows/build.yml
Due: none

ci(workflow): node verson syntax
  .github/workflows/build.yml
Due: none

chore: update storybook deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

chore(deps-dev): update eslint parser and plugin
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

test: add typings test assertions
  .eslintrc
  .github/workflows/test.yml
  jest.config.js
  package.json
  src/__tests__/typings.test-d.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

fix(ci): add build
  .github/workflows/lint.yml
Due: none

fix: typo
  .github/workflows/test.yml
Due: none

chore(deps-dev): update node typings
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

chore(deps-dev): update rollup
  package.json
  rollup.config.js
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

chore(deps-dev): update eslint
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

chore(deps-dev): remove babel deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

chore(build): update plugin typescript
  .gitignore
  package.json
  rollup.config.js
  tsconfig.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

chore(build): fix dts config
  rollup.config.js
Due: none

test: fix typings tests
  src/__tests__/typings.test-d.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

chore(deps-dev): update storybook addons
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

chore: add lib to eslintignore
  .eslintignore
Due: none

chore(deps-dev): update eslint-plugin-unicorn
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

chore: use target esnext
  tsconfig.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore: update semantic-release github config
  .eslintignore
  .releaserc
  src/__tests__/enums.spec.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

docs(intro): fix image tag
  src/stories/introduction.stories.mdx
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore: quiet storybook build
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

docs(storybook): build storybook with webpack 5.x
  .storybook/main.js
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

chore: eslint
  src/stories/spotify-embed.stories.tsx
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

docs: text adjustments
  src/stories/introduction.stories.mdx
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore: add docs link and set project to public
  README.md
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

chore: first release
  .github/workflows/publish.yml
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

Notes added by 'git notes add'
  6fd8794b36d403d13d1e0764170c361136fe4737
Due: none

chore: update required node version
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

feat: release
  .github/workflows/publish.yml
Due: none

chore(release): 1.1.0 [skip ci]
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

Notes added by 'git notes add'
  2d62328dc363899b4474d3e7029a49ade5367f5e
Due: none

feat: ad badges and release config
  .github/workflows/publish.yml
  .releaserc
  README.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(release): 1.2.0 [skip ci]
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

Notes added by 'git notes add'
  f3235358e1fd55177e026c13dba1f5a66a98a26d
Due: none

ci(publish): add build for gh release
  .github/workflows/publish.yml
Due: none

feat(enums): add better tsdoc comments
  src/utils/enums.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

Path conditions:
  eslint src --ext js,ts --fix: any of: src/**/*.{js,ts,tsx}
  prettier 'src/**/*.[jt]s?(x)' --write: any of: src/**/*.{js,ts,tsx}
  git add .: ((any of: src/**/*.{js,ts,tsx}) or (any of: **/*.{md,mdx,json})) or (any of: ./package.json)
  prettier '**/*.{md,mdx,json}' --write: any of: **/*.{md,mdx,json}
  sort-package-json package.json: any of: ./package.json
