Repository Gabb-c/spotify-embed: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, pnpm format:fix, pnpm audit, pnpm sort-package-json

Notes added by 'git notes add'
  806860ea1eb1763a8afa04713537ea6574ed92a5
Due: none

fix: add react to ext deps
  tsup.config.ts
Due: none

chore(release): 1.6.3 [skip ci]
  package.json
Due: pnpm sort-package-json

Notes added by 'git notes add'
  c5dff178fd36f627cfa8947cb196d932d1ea6310
Due: none

fix: replace tsup for rollup
  package.json
  pnpm-lock.yaml
  rollup.config.js
  src/utils/parser.ts
  tsconfig.json
  tsup.config.ts
Due: pnpm lint:fix, pnpm format:fix, pnpm audit, pnpm sort-package-json

chore(release): 1.6.4 [skip ci]
  package.json
Due: pnpm sort-package-json

Notes added by 'git notes add'
  8cb148bf4d8cd6875ee10728c48c7a85209b037c
Due: none

chore: size limit
  package.json
Due: pnpm sort-package-json

fix: semantic release config
  .releaserc
Due: none

chore(release): 1.6.5 [skip ci]
  package.json
Due: pnpm sort-package-json

Notes added by 'git notes add'
  ed0c7b6378e243b80b409a5890a87abe123032d0
Due: none

fix: frameborder
  .gitignore
  .nvmrc
  pnpm-lock.yaml
  src/components/spotify-embed.tsx
  vercel.json
Due: pnpm lint:fix, pnpm format:fix, pnpm audit

test: update code snapshots
  src/__tests__/__snapshots__/spotify-embed.spec.tsx.snap
Due: pnpm lint:fix, pnpm format:fix

chore(release): 1.6.6 [skip ci]
  package.json
Due: pnpm sort-package-json

Notes added by 'git notes add'
  769533e2b7971bd66321638ca62ea7c95d94b517
Due: none

Path conditions:
  pnpm lint:fix: any of: src/**/*
  pnpm format:fix: any of: src/**/*
  pnpm audit: any of: pnpm-lock.yaml
  pnpm sort-package-json: any of: package.json
