Repository Gabb-c/spotify-embed: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

.lintstagedrc:

{
  "src/**/*.{js,ts,tsx}": [
    "eslint src --ext js,ts --fix",
    "prettier 'src/**/*.[jt]s?(x)' --write",
    "git add ."
  ],
  "**/*.{md,mdx,json}": [
    "prettier '**/*.{md,mdx,json}' --write",
    "git add ."
  ],
  "./package.json": [
    "sort-package-json package.json",
    "git add ."
  ]
}

chore(deps-dev): update commitlint and node typings
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

fix(build): remove warning from compilation
  package.json
  rollup.config.js
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

feat: add storybook
  .eslintrc
  .gitignore
  .storybook/main.js
  .storybook/preview.js
  package.json
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
  src/stories/button.css
  src/stories/button.stories.tsx
  src/stories/button.tsx
  src/stories/header.css
  src/stories/header.stories.tsx
  src/stories/header.tsx
  src/stories/introduction.stories.mdx
  src/stories/page.css
  src/stories/page.stories.tsx
  src/stories/page.tsx
  yarn.lock
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

fix(tests): jest coverage and iframe prop error
  jest.config.js
  src/components/home.tsx
  tsconfig.json
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write

chore(vscode): add tasks.json
  .vscode/tasks.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

feat(storybook): add addon-outline and addon-ally
  .storybook/main.js
  .storybook/preview.js
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

feat(storybook): add addon-storysource
  .storybook/main.js
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

chore(repo): ignore yarnclean
  .gitignore
Due: none

chore(deps-dev): update eslint dependencies
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

chore(deps-dev): update eslint, babel and rolup deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

feat(build): add bundle analyzer
  package.json
  rollup.config.js
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

feat(build): add dependency visualizer
  .gitignore
  package.json
  rollup.config.js
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

feat: update readme
  README.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

chore(gitpod): update gitpod configurations
  .gitpod.yml
Due: none

chore(gitpod): remove comments
  .gitpod.yml
Due: none

chore: edit tasks
  .vscode/tasks.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write

feat(build): verify ci env on build
  banner.js
  package.json
  rollup.config.js
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

fix: typo
  rollup.config.js
Due: none

chore(deps-dev): update eslint and rollup
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

chore: fix typo
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

chore(deps-dev): update jest
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

chore(deps-dev): update rollup plugin node resolve
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

feat(utils): add url and uri parsers
  package.json
  src/__tests__/parsers.spec.ts
  src/index.ts
  src/utils/enums.ts
  src/utils/index.ts
  src/utils/parser.ts
  tsconfig.json
  yarn.lock
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

chore(deps-dev): update storybook and eslint deps
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

feat(components): add props to spotify embed
  src/__tests__/home.spec.tsx
  src/__tests__/spotify-embed.spec.tsx
  src/components/home.tsx
  src/components/index.ts
  src/components/spotify-embed.tsx
  src/index.ts
  src/utils/enums.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

feat(docs): update readme
  README.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix: typo
  README.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

fix: remove console log
  src/components/spotify-embed.tsx
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

chore(deps-dev): update babel preset env
  README.md
  package.json
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

feat(components): add url and uri parsers to spotify embed component
  src/__tests__/spotify-embed.spec.tsx
  src/components/spotify-embed.tsx
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

test: add snapshot tests for enums
  src/__tests__/__snapshots__/enums.spec.ts.snap
  src/__tests__/enums.spec.ts
  src/utils/enums.ts
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

chore(deps): sync lockfile
  yarn.lock
Due: none

feat(components): add custom size prop
  src/components/spotify-embed.tsx
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add .

docs: add addon postcss to avoid warnings
  .storybook/main.js
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

docs: add introduction
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
  src/stories/introduction.stories.mdx
Due: git add ., prettier '**/*.{md,mdx,json}' --write

ci: add storybook-build workflow
  .github/workflows/build-sb.yml
Due: none

ci: add storybook-build workflow silent
  .github/workflows/build-sb.yml
Due: none

feat(deps): replacing identity-object-proxy
  jest.config.js
  package.json
  yarn.lock
Due: git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json

docs: typo
  README.md
Due: git add ., prettier '**/*.{md,mdx,json}' --write

test(utils): add more tests to parser.ts
  package.json
  src/__tests__/parsers.spec.ts
  yarn.lock
Due: eslint src --ext js,ts --fix, prettier 'src/**/*.[jt]s?(x)' --write, git add ., prettier '**/*.{md,mdx,json}' --write, sort-package-json package.json
